{
    "presets": [
        ["@babel/preset-env", {
            "modules": false,
            "useBuiltIns": "usage"
        }],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        [
            "@babel/plugin-proposal-decorators", {
                "decoratorsBeforeExport": true
            }
        ]
    ]
}
