<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>phacephold</title>

        <base href="/">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="Webpack basic starter project" />
        <meta name="Description" content="Realtime visual and camera app employing face folding"/>

        <!-- Open Graph data -->
        <meta property="og:title" content="PHACEPHOLD" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://lifenautjoe.github.io/webpack-starter-basic/" />
        <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" />
        <meta property="og:description" content="Realtime visual and camera app employing face folding" />

        <script src="./vendor/webcomponents-loader.js"></script>
    </head>
    <body>
    </body>
</html>
