<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>phacephold</title>
        <!-- Twitter Card data -->
        <meta name="twitter:card" value="Webpack basic starter project">
        <meta name="Description" content="A simple webpack starter project for your basic web development needs."/>
        <!-- Open Graph data -->
        <meta property="og:title" content="Webpack basic starter project" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://lifenautjoe.github.io/webpack-starter-basic/" />
        <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" />
        <meta property="og:description" content="A simple webpack starter project for your basic web development needs." />
    </head>
    <body>
        <div class="loader" id="loader">
            <div class="loader-icon sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
        <div class="container">
            <div class="display-container" id="display-container">
                <div class="fps" id="fps"></div>
            </div>
            <div class="ui-container" id="ui-container">
                
            </div>
        </div>
    </body>
</html>
