<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>phacephold</title>
        <!-- Twitter Card data -->
        <meta name="twitter:card" value="Webpack basic starter project">
        <meta name="Description" content="A simple webpack starter project for your basic web development needs."/>
        <!-- Open Graph data -->
        <meta property="og:title" content="Webpack basic starter project" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://lifenautjoe.github.io/webpack-starter-basic/" />
        <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" />
        <meta property="og:description" content="A simple webpack starter project for your basic web development needs." />
        <!-- Mobile header color for Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#000">
        <!-- Mobile header color Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#000">
        <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
    </head>
    <body>
        <div class="container">
            <div class="videoWrapper" id="videoWrapper">
                <div class="fps" id="fps"></div>
                <video muted></video>
            </div>
            <div class="log" id="log">
            </div>
        </div>
    </body>
</html>
