@import './blank-button';

$button-color: #444;
$button-border: #fff;

@mixin viewer-button {
    :host {
        width: 8em;
        height: 8em;
    }

    .viewer-button {
        @include blank-button;
        background-color: $button-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 5px solid $button-border;

        &:hover {
            background-color: lighten($button-color, 10%);
        }

        &:active {
            background-color: lighten($button-color, 30%);
        }

        .icon {
            width: 75%;
            height: 75%;
        }
    }
}
